#navbarToggle {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    position: fixed;
    right: 6%;
    top: 3%;
    width: 40px;
}

#navbarToggle[aria-expanded='true'] .iconBar:is(:first-child, :last-child) {
    margin: 0;
    position: absolute;
    top: 8px;
    width: 26px;
}

#navbarToggle[aria-expanded='true'] .iconBar:first-child {
    transform: rotate(45deg);
}

#navbarToggle[aria-expanded='true'] .iconBar:nth-child(2) {
    opacity: 0;
}

#navbarToggle[aria-expanded='true'] .iconBar:last-child {
    transform: rotate(-45deg);
}

#navbarToggle[aria-expanded='true'] + #navbarMenu {
    background-color: var(--bg-color);
    opacity: 1;
    padding-top: 3rem;
    visibility: visible;
}

#navbarToggle[aria-expanded='true'] + #navbarMenu .wrapper .link {
    padding: 1rem;
}

#navbarMenu {
    background-color: transparent;
    bottom: 0;
    box-shadow: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 74px;
    transition: all 0.4s ease;
    visibility: hidden;
}

#navbarMenu div span {
    align-items: center;
    display: flex;
    order: -1;
}

#navbarMenu ul {
    flex-direction: column;
    gap: 1.4rem;
}

#navbarMenu li {
    color: var(--text-color);
}

#navbarMenu li:first-child {
    order: 1;
}

.iconBar {
    background-color: var(--text-color);
    display: block;
    height: 3px;
    margin: 3px;
    transition: transform 0.15s linear;
    width: 25px;
}

.container {
    display: flex;
    height: 64px;
    justify-content: center;
    position: relative;
}

.logo {
    align-items: center;
    background-color: var(--logo-border-color);
    border-radius: 4px;
    color: var(--logo-color);
    display: flex;
    font-size: 2rem !important;
    font-weight: 800;
    padding: 0.1rem 0.75rem;
    text-decoration: none;
}

.logo div {
    font-weight: 700 !important;
}

.logo span {
    font-family: 'Be Vietnam Pro', sans-serif;
    transform: scaleX(1.6);
}

.mirroredLetter {
    display: inline-block;
    transform: scaleX(-1) !important;
}

@media screen and (min-width: 768px) {

    .navbar {
        display: flex !important;    
    }

    #navbarToggle,
    #navbarToggle[aria-expanded='true'] {
        display: none;
    }

    #navbarMenu,
    #navbarToggle[aria-expanded='true'] + #navbarMenu {
        display: block;
        height: 100%;
        opacity: 1;
        position: static;
        visibility: visible;
    }

    #navbarMenu {
        align-items: flex-end;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
    }

    #navbarMenu ul {
        flex-direction: row;
        gap: 0;
        justify-content: flex-end !important;
        margin-left: auto !important;
    }

    #navbarMenu li:first-child {
        order: -1;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        justify-content: flex-end;
    }

    .container {
        justify-content: space-between;
    }

    .logo {
        font-size: 3rem;
        font-weight: 800;
        gap: 0;
        text-decoration: none;
    }
    
    .logo span {
        transform: scaleX(1.6);
    }
    
    .mirroredLetter {
        display: inline-block;
        transform: scaleX(-1) !important;
    }
    
    .logoSubtext {
        color: var(--text-color);
        font-size: .66rem;
        visibility: visible;
    }
}