@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min.css";

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #e7e7e7;
  --bg-color-lighter: hsl(0, 0%, 89%);
  --bg-color-lightest: hsl(0, 0%, 84%);
  --text-color: #111;
  --header-bg-color: #e7e7e7;
  --overlay-color: #888;
  --logo-color: #08001f;
  --input-color: transparent;
  --input-border-color: rgba(112, 112, 112, 0.4);
  --placeholder-color: rgb(177, 177, 177);
  --checkbox-bg-color: rgb(33,33,33);
  --toggle-icon: "\f185";
  --toggle-icon-bg-color: rgb(211, 211, 211);
  --toggle-icon-color: rgb(136, 88, 0);
  --link-hover-color: rgb(23, 29, 80);
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *::before,
html.theme-transition *::after {
  transition: all 500ms !important;
  transition-delay: 0 !important;
}

[data-theme="dark"] {
  --bg-color: #161616;
  --bg-color-lighter: hsl(0, 0%, 13%);
  --bg-color-lightest: hsl(0, 0%, 18%);
  --text-color: #eee;
  --header-bg-color: #161616;
  --overlay-color: #101010;
  --logo-color: #f0e164;
  --input-color: #171717;
  --input-border-color: rgba(141, 140, 140, 0.4);
  --placeholder-color: rgb(56, 56, 56);
  --checkbox-bg-color: #485fc7;
  --toggle-icon: "\f186";
  --toggle-icon-bg-color: rgb(204, 204, 204);
  --toggle-icon-color: rgb(59, 0, 153);
  --link-hover-color: rgb(141, 214, 243);
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.switch+label {
  position: relative !important;
}

.switch+label::before {
  background: var(--checkbox-bg-color) !important;
}

.switch+label::after {
  background-color: var(--toggle-icon-bg-color) !important;
  color: var(--toggle-icon-color);
  content: var(--toggle-icon) !important;
  font-family: 'Font Awesome 5 Free' !important;
  font-size: 11px;
  position: absolute !important;
}

a {
  border-bottom: 1px solid transparent;
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid var(--link-hover-color);
  color: var(--link-hover-color);
}

ul {
  list-style: none;
}

input,
textarea {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
    border-color: var(--input-border-color) !important;
}

input, button, textarea, select {
  font: inherit;
}

label {
  color: var(--text-color) !important;
}

::placeholder {
  color: var(--placeholder-color) !important;
}

#root, #__next {
  isolation: isolate;
}

.is-transparent {
  background-color: transparent !important;
}

.navbar-menu {
  display: inherit !important;
}

#bio-icons {
  column-gap: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-top: 3rem;
  row-gap: 40px;
  text-align: center;
}

#bio-icons div {
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.301) -1px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  transition: all 0.2s ease;
  width: 150px;

}

#bio-icons div img {
  height: 50px;
  width: 50px;
}

#bio-icons div h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  #bio-icons div {
    height: 200px;
    width: 200px;
  }
} 

@media screen and (min-width: 1024px) {

  #bio-icons {
    column-gap: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 6rem;
    row-gap: 40px; 
  }
  
  #bio-icons div h3 {
    font-size: 20px;
    line-height: 1.6;
    height: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  #bio-icons div img {
    filter: grayscale(100%);
    transition: all 0.2s ease;
  }

  #bio-icons div:hover img {
    filter: grayscale(0%);
  }

  #bio-icons div:hover h3 {
    height: 32px;
    margin-top: 0.2rem;
  }

  #bio-icons div img {
    height: 75px;
    width: 75px;
  }

}

.icon-transition {
  transition: all 0.3s ease !important;
}