@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min.css";

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: hsl(30, 13%, 88%);
  --bg-color-lighter: hsl(0, 0%, 89%);
  --bg-color-lightest: hsl(0, 0%, 84%);
  --text-color: hsl(0, 0%, 7%);
  --header-bg-color: hsl(45, 6%, 88%);
  --overlay-color: hsla(0, 0%, 7%, 0.479);
  --logo-color: hsl(217, 79%, 27%);
  --logo-border-color: transparent;
  --input-color: transparent;
  --input-border-color: hsla(0, 0%, 44%, 0.4);
  --placeholder-color: hsl(0, 0%, 69%);
  --checkbox-bg-color: hsl(0, 0%, 13%);
  --toggle-icon: "\f185";
  --toggle-icon-bg-color: hsl(0, 0%, 83%);
  --toggle-icon-color: hsl(39, 100%, 27%);
  --link-hover-color: hsl(234, 55%, 20%);
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *::before,
html.theme-transition *::after {
  transition: all 500ms !important;
  transition-delay: 0 !important;
}

[data-theme="dark"] {
  --bg-color: hsl(0, 0%, 9%);
  --bg-color-lighter: hsl(0, 0%, 13%);
  --bg-color-lightest: hsl(0, 0%, 18%);
  --text-color: hsl(0, 0%, 93%);
  --header-bg-color: hsl(0, 0%, 9%);
  --overlay-color: hsla(0, 0%, 93%, 0.61);
  --logo-color: hsl(218, 29%, 71%);
  --logo-border-color: hsl(217, 79%, 27%);
  --input-color: hsl(0, 0%, 9%);
  --input-border-color: hsla(0, 0%, 55%, 0.4);
  --placeholder-color: hsl(0, 0%, 22%);
  --checkbox-bg-color: hsl(229, 53%, 53%);
  --toggle-icon: "\f186";
  --toggle-icon-bg-color: hsl(0, 0%, 80%);
  --toggle-icon-color: hsl(263, 100%, 30%);
  --link-hover-color: hsl(197, 81%, 75%);
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Nunito Sans', sans-serif;
  height: 100%;
  line-height: 1.5;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.typed {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeOut;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.switch+label {
  position: relative !important;
}

.switch+label::before {
  background: var(--checkbox-bg-color) !important;
}

.switch+label::after {
  background-color: var(--toggle-icon-bg-color) !important;
  color: var(--toggle-icon-color);
  content: var(--toggle-icon) !important;
  font-family: 'Font Awesome 5 Free' !important;
  font-size: 11px;
  position: absolute !important;
}

#contact-phone-icon,
#contact-email-icon {
  font-size: 1.6rem !important;
}

a {
  border-bottom: 2px solid transparent;
  color: inherit;
  text-decoration: none;
  transition: border-bottom 0.2s ease, color 0.2s ease;
}

a:hover {
  border-bottom: 2px solid var(--link-hover-color);
  color: var(--link-hover-color);
}

ul {
  list-style: none;
}

input,
textarea {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
    border-color: var(--input-border-color) !important;
}

input, button, textarea, select {
  font: inherit;
}

label {
  color: var(--text-color) !important;
}

::placeholder {
  color: var(--placeholder-color) !important;
}

#root, #__next {
  isolation: isolate;
}

section {
  padding: 0 2rem;
}

.is-transparent {
  background-color: transparent !important;
}

.navbar-menu {
  display: inherit !important;
}

#logo-container:hover {
  border-bottom: 2px solid transparent !important;
}

.card {
  background-color: transparent !important;
  color: var(--text-color) !important;
  max-width: 556px;
}

.card-footer-item {
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  padding-top: 0;
  transition: all 0.3s ease-in-out;
}

.card-footer-item:hover {

}

.project-image,
.project-image-overlay {
  max-height: 400px;
  transition: all 0.2s ease;
  width: 100%;
}

.project-image-overlay {
  display: none;
}

.is-borderless {
  border: 0 !important;
}

.is-grid {
  display: grid;
}

.project-grid {
  row-gap: 60px;
  grid-row-gap: 60px;
  margin-top: 4rem;
}

.container {
  display: flex !important;
  justify-content: center;
}

.card-title {
  font-size:  1.1em;
  padding: 16px 0;
  text-transform: uppercase;
}

#portfolio {
  padding-top: 3rem;
}

.has-border-bottom {
  border-bottom: 2px solid var(--bg-color-lighter);
  padding-bottom: 2rem;
}

.has-radius-10 {
  border-radius: 10px 10px 0 0 !important;
}

#bio-icons {
  column-gap: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-top: 3rem;
  row-gap: 40px;
  text-align: center;
}

#bio-icons div {
  align-items: center;
  border-radius: 50%;
  box-shadow: hsla(0, 0%, 0%, 0.301) -1px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  transition: all 0.2s ease;
  width: 150px;
}

#bio-icons div img {
  height: 50px;
  width: 50px;
}

#bio-icons div h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.contact-grid {
  row-gap: 40px;
}

#contact-form {
  width: 100%;
}

.contact-info-link {
  border: 0;
  color: hsl(204, 92%, 46%) !important;
  font-weight: 600;
}

.contact-info-link:hover {
  border-bottom: none !important;
}

.tagline {
  justify-self: center;
  max-width: 20rem;
}

@media screen and (min-width: 768px) {
  
  section {
    padding: 0;
  }

  #portfolio {
    padding: 0 4%;
  }

  #bio-icons div {
    height: 200px;
    width: 200px;
  }

  .project-grid {
    column-gap: 40px;
    grid-column-gap: 40px;
    margin-top: 6rem;
  }

  .container {
    display: flex !important;
    justify-content: center;
  }

  .card-title {
    display: none;
  }

  .project-image-overlay {
    align-items: center;
    border-radius: 10px 10px 0 0;
    color: var(--text-color);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
  }

  .project-image-overlay:hover {
    opacity: 1;
  }

  .project-image-overlay:hover + .project-image {
    filter: blur(2px);
    opacity: 0.2;
  }

  .project-image-overlay h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  .project-image {
    max-height: 400px;
  }

  .project-image-overlay {
    max-height: 200px;
  }

  #contact-phone-icon,
  #contact-email-icon {
    font-size: 2rem !important;
  }

  #hire {
    padding: 0 2rem;
  }

  .has-border-bottom {
    padding-bottom: 3rem;
  }
} 

@media screen and (min-width: 1024px) {

  #bio-icons {
    column-gap: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 6rem;
    row-gap: 40px; 
  }
  
  #bio-icons div h3 {
    font-size: 20px;
    line-height: 1.6;
    height: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  #bio-icons div img {
    filter: grayscale(100%);
    transition: all 0.2s ease;
  }

  #bio-icons div:hover img {
    filter: grayscale(0%);
  }

  #bio-icons div:hover h3 {
    height: 32px;
    margin-top: 0.2rem;
  }

  #bio-icons div img {
    height: 75px;
    width: 75px;
  }

  #contact-form {
    width: 50%;
  }

  .contact-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 70%;
  }

  .tagline:last-child {
    grid-column: span 2;
  }

  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }  

}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1152px !important;
  }
}



.icon-transition {
  transition: all 0.3s ease !important;
}

.express {
  filter: invert(100%) !important;
}

.typed-cursor {
  font-size: 32px;
}