@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min.css";

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #eee;
  --text-color: #111;
  --overlay-color: #888;
  --logo-color: #08001f;
  --input-color: transparent;
  --input-border-color: rgba(112, 112, 112, 0.4);
  --placeholder-color: rgb(177, 177, 177);
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *::before,
html.theme-transition *::after {
  transition: all 500ms !important;
  transition-delay: 0 !important;
}

[data-theme="dark"] {
  --bg-color: #161616;
  --text-color: #eee;
  --overlay-color: #101010;
  --logo-color: #f0e164;
  --input-color: #171717;
  --input-border-color: rgba(141, 140, 140, 0.4);
  --placeholder-color: rgb(56, 56, 56);
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
textarea {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
    border-color: var(--input-border-color) !important;
}

input, button, textarea, select {
  font: inherit;
}

label {
  color: var(--text-color) !important;
}

::placeholder {
  color: var(--placeholder-color) !important;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.is-transparent {
  background-color: transparent !important;
}

.navbar-menu {
  display: inherit !important;
}